* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 53px;

    display: inline-block;
    min-width: 173px;
    background: #143c3c;
    border: 1.5px solid #143c3c;
    border-radius: 40px;
    font-size: 1.8rem;
    line-height: var(--height);
    text-align: center;
    color: #ffffff;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header top */
.header {
    font-family: "Public Sans", sans-serif;
    /* min-height: 100vh; */
    padding-top: 30px;
    background: #fff;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
}

.header-top::after {
    position: absolute;
    content: "";
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    padding: 19px;
    display: inline-block;
    /* margin-left: 28px; */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
    transition: 0.25s;
}

.navbar__link:hover {
    color: #152427;
}

.navbar__link::after {
    position: absolute;
    bottom: -13px;
    right: calc(100% - 35px);
    z-index: 1;
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background: #143c3c;
}

.navbar__link--active {
    color: #152427;
}

.navbar__link--active::after,
.navbar__link:hover::after {
    width: 16px;
    height: 2px;
    left: 19px;
}

.header-action {
    margin-left: 69px;
}

/* Hero */
.hero {
    margin-top: 60px;
    display: flex;
    /* align-items: center; */
}

.hero__content {
    margin-top: 43px;
    width: 35%;
}

.hero__heading {
    max-width: 368px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    color: #152427;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.hero-watch {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero-watch__cta {
    --height: 55px;
}

.hero-watch__link {
    display: flex;
    align-items: center;
}

.hero-watch__icon {
    position: relative;
    margin-left: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
}

.hero-watch__icon::before {
    position: absolute;
    content: "";
    width: 49px;
    height: 49px;
    border: 4px solid #143c3c;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    transform: rotate(45deg);
    /* transition: 0.25s; */
}

.hero-watch__icon:hover::before {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.hero-watch__text {
    margin-left: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #152427;
    transition: 0.25s;
}

.hero-watch__text:hover {
    color: #83a17d;
}

.hero__media {
    margin-left: auto;
    padding-right: 25px;
}

.hero__images {
    position: relative;
    display: flex;
    padding-bottom: 77px;
    z-index: 0;
    /* transition: 0.7s; */
}

.hero__images::after {
    position: absolute;
    top: 122px;
    left: 156px;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    transition: 1s;
}

.hero__img--middle {
    position: absolute;
    bottom: 0;
    right: 222px;
}

.hero__images:hover .hero__img:not(.hero__img--middle) {
    transform: translateY(77px);
}

.hero__images:hover .hero__img--middle {
    transform: translateY(-77px);
}

.hero__img--first {
    margin-right: 242px;
}

.section-decoration {
    position: absolute;
    z-index: 1;
}

.hero__decoration--bottom {
    bottom: -80px;
    left: 40px;
}

/* .section-icon {
    position: absolute;
} */

.hero__icon--circle-left {
    position: absolute;
    right: -45px;
    bottom: 25px;
}

.hero__decoration--top {
    top: -30px;
    right: 270px;
}

.hero__icon--circle-right {
    position: absolute;
    left: -45px;
    top: 2px;
}

/* Brand */
.brand {
    margin-top: 130px;
}

.brand__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e2eddf;
    border-radius: 100.5px;
    padding: 77px 122px;
}

.brand__link {
    display: flex;
    align-items: center;
}

.brand__link--google {
    font-weight: 500;
    font-size: 3.1rem;
    line-height: 1.5;
    color: #143c3c;
}

.brand__link--slack {
    column-gap: 5px;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #143c3c;
}

.brand__link--agworld {
    column-gap: 15px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.5;
    color: #163c35;
}

.brand__link--riotinto {
    font-family: "Sonsie One", cursive;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.5;
    color: #143c3c;
}

.brand__link--heroku {
    column-gap: 11px;
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 1.5;
    letter-spacing: 0.105em;
    color: #143c3c;
}

/* Service */
.service {
    padding: 106px 0;
}

.service__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 12px;
}

.section-sub-heading {
    position: relative;
    padding-left: 46px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.12;
    color: #152427;
}

.section-sub-heading::before {
    position: absolute;
    top: 4px;
    left: 0;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.service__heading {
    position: relative;
    max-width: 520px;
}

.section-heading {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.service__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service__cta {
    display: flex;
    align-items: center;
    column-gap: 17px;
    margin-bottom: 9px;
}

.service__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    transition: 0.25s;
    cursor: pointer;
}

.service__cta-btn:hover {
    color: #e2eddf;
    background: #143c3c;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service-item {
    flex: 1;
    border-radius: 20px;
    transition: 0.25s;
    padding-bottom: 23px;
    overflow: hidden;
}

.service-item:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

/* .service-item:hover .service-item__title {
    margin-top: 20px;
} */

.service__content {
    padding-left: 18px;
}

.service-item__thumb {
    overflow: hidden;
}

.service-item__img {
    /* display: block; */
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    transition: 0.25s;
}

.service-item__title {
    display: inline-block;
    margin-top: 24px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #152427;
    transition: 0.25s;
}

.service-item__desc {
    max-width: 268px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* About */
.about {
    padding: 43px 0;
}

.about__inner {
    display: flex;
    column-gap: 64px;
}

/* About left */
.about__images {
    position: relative;
    display: flex;
    column-gap: 21px;
    padding-bottom: 90px;
}

.about__img {
    position: relative;
    width: 286px;
    height: 480px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about__img--first {
    bottom: -90px;
}

.about__decoration {
    left: 50px;
    top: 0px;
    transform: rotate(12.64deg);
}

.about__icon--circle {
    position: absolute;
    left: -45px;
    top: 2px;
}

.about-designers__value {
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about-designers {
    position: absolute;
    left: 457px;
    bottom: 8px;
    z-index: 1;
    min-width: 144px;
    min-height: 144px;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.about-designers__content {
    padding: 0 5px;
}

.about-designers__heading {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}

.about-designers__desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.about-designers__value::before {
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 1;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.about-designers__value::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    display: inline-block;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.about-designers__text {
    margin: 3px 0;
    display: block;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
    text-align: right;
}

.about-designers__dot {
    width: 12px;
    height: 12px;
    border: 3px solid #eaeaea;
    background: #143c3c;
    border-radius: 50%;
}

.about-designers__member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin-top: 4px;
}

.about-designers__member-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.about-designers__images {
    display: flex;
}

.about-designers__img {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.about-designers__img:not(.about-designers__img:first-child) {
    margin-left: -6px;
}

/* About right */
.about__content-heading {
    margin-top: 20px;
}

.about__content-desc {
    margin-top: 11px;
}

.section-desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about__stats {
    margin-top: 36px;
}

.about-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    padding-bottom: 20px;
}

.about-item__value {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about-item__text {
    width: 364px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

.about-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 485px;
    height: 1px;
    background-color: #83a17d;
}

.about-item + .about-item {
    margin-top: 38px;
}
